.window-session-indicator {
    background-color: transparent;
    border: 1px solid #ffffff;
    padding: 1px;
    margin: 2px 0;
    border-radius: 3px;
}

.window-session-indicator-label {
    background: #ffffff;
    border: 1px solid #000000;
    color: #000000;
    min-width: 14px;
    font-size: 80%;
    text-align: center;
}

.popup-menu-icon-play,
.popup-menu-icon-delete,
.popup-menu-icon-save {
    border: 1px solid darkgray;
    border-radius: 200px;
    font-size: 8px;
    width: 24px;
    height: 24px;
}

.popup-menu-icon-delete {
    color: red;
}