.window-session-indicator {
    background-color: transparent;
    border-radius: 5px;
    border: 1px solid #ffffff;
    padding: 1px;
    margin: 2px 0;
}

.window-session-indicator-label {
    border: 1px solid #ffffff;
    min-width: 14px;
    font-size: 80%;
    text-align: center;
}